build/
release/
debug/
doc/
obj/
nf2ff/nf2ff
tmp*
Makefile*
*~
*.so*
*.a
*.pro.user*
*.user
*.orig
localPaths.pri
.directory

#cmake
**CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
localConfig.cmake

#python
*.pyc
*.pyo
python/**/*.cpp
python/openEMS.egg-info/*
python/dist
!python/doc
python/doc/_build
python/doc/Tutorials/__*
