build/
release/
debug/
doc/
obj/
nf2ff/nf2ff
tmp*
Makefile*
*~
*.so*
*.a
*.pro.user*
*.user
*.orig
openEMS
localPaths.pri
.directory

#cmake
**CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
localConfig.cmake
